# .gitignore

# macOS-specific
.DS_Store
.AppleDouble
.LSOverride

# macOS system files that store settings
Icon?
._*

# macOS Finder tags
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Typescript-specific
node_modules/
*.tsbuildinfo

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
dist/
out/

# Testing
coverage/
*.lcov
.cache/
*.mocha/
.vscode-test/

# Prevent .xls files from being checked in
*.xls

# Generic Editor Directories
.vscode/
.idea/

# OS-specific temp files
*.swp
*.swo
*~
